.active {
    color: #FF7F50 !important;
}

.login-wrap {
    background-image: url('../../public/images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-border {
    border-bottom: 2px solid #333333;
}

.admin-cars-sidebar {
    margin-top: -4px;
    border-top: 2px solid white;
    background-color: rgb(13,33,59);
}

.admin-cars-sidebar .btn:hover{
    color: black;
}
